@tailwind base;
@tailwind components;
@tailwind utilities;

body,
html {
  height: 100%;
  width: 100%;
}

::-webkit-scrollbar{
  display: none;
}

body {
  font-family: "Geist Sans", sans-serif;
  @apply bg-emerald-50 text-emerald-950
}

p {
  @apply leading-loose
}